In [4]:
import torch
import os
import torch.nn as nn
import matplotlib.pyplot as plt
import numpy as np
from timeit import default_timer as timer 
import pickle

In [5]:
with open('churn_model.pcl', 'rb') as file:
    deserialized_object = pickle.load(file)
    
print(deserialized_object)

({'1': 'TRAIN Datasets', '2': 'TEST Datasets'}, ({'1': 'TRAIN_MODEL_FE', '2': 'TRAIN_MODEL_B_NUM', '3': 'TRAIN_MODEL_DPI'},         Ama_rchrgmnt_sum_max_mnt1  content_clc_mea_mnt1  content_cnt_max_mnt1  \
0                               0                   0.0             13.841608
1                               0                   0.0             11.361162
2                               0                   0.0             10.269117
3                               0                   0.0              9.974412
4                               0                   0.0              6.749902
...                           ...                   ...                   ...
149995                          0                   0.0              8.333536
149996                          0                   0.0             14.038728
149997                          0                   0.0             13.225565
149998                          0                   0.0             19.524976
149999                          0                   0.0             13.640500

        voice_out_short_part_max_mnt1  voice_mts_in_nrest_part_std_mnt1  \
0                            1.480453                          0.000000
1                            1.000313                          1.000007
2                            0.000000                          0.000000
3                            1.033241                          1.000128
4                            1.000641                          1.000548
...                               ...                               ...
149995                       1.010017                          1.001535
149996                       1.006078                          1.066591
149997                       1.000865                          1.000887
149998                       1.001231                          0.000000
149999                       1.001424                          1.000022

        num_act_days_max_mnt1  sms_roam_clc_min_mnt1  \
0                    5.324077                      0
1                    5.324077                      0
2                    5.324077                      0
3                    5.324077                      0
4                    5.324077                      0
...                       ...                    ...
149995               5.324077                      0
149996               5.324077                      0
149997               5.324077                      0
149998               5.324077                      0
149999               5.324077                      0

        voice_in_cmpttrs_avg_durmin_mnt1  com_num_part_mea_mnt1  \
0                              19.049712               1.657608
1                               0.000000               1.001037
2                               0.000000               1.015666
3                               0.000000               1.002645
4                              28.858494               1.048314
...                                  ...                    ...
149995                          0.000000               1.335142
149996                          0.000000               1.208153
149997                          0.000000               1.037025
149998                         15.464618               1.276047
149999                         11.489038               1.112278

        pay_avg_mea_mnt1  ...  MV_Traf_mn_out_v_Min  MV_DOU_OT  \
0               0.000000  ...                   0.0   1.480453
1              15.014574  ...                   0.0   1.480453
2              11.615193  ...                   0.0   1.480453
3              11.615193  ...                   0.0   1.480453
4               0.000000  ...                   0.0        NaN
...                  ...  ...                   ...        ...
149995         14.327306  ...                   0.0   2.206949
149996         12.792268  ...                   0.0   1.480453
149997          2.206949  ...                   0.0   1.480453
149998          9.110034  ...                   0.0   1.480453
149999         13.841608  ...                   0.0   1.480453

        MV_SERV_Y_WO_AF  MV_Migr_To  MV_SERV_RLH  MV_DOU_PPM_VF  \
0                   NaN         0.0          NaN      13.011325
1                   NaN         0.0          NaN      18.165565
2                   NaN         0.0          NaN            NaN
3                   NaN         0.0          NaN            NaN
4                   1.0         0.0          NaN      13.011325
...                 ...         ...          ...            ...
149995              NaN         0.0          NaN            NaN
149996              NaN         0.0          NaN            NaN
149997              NaN         0.0          NaN            NaN
149998              NaN         0.0          NaN            NaN
149999              NaN         0.0          NaN            NaN

        MV_DOU_Neg_Bal  MV_ot_total  target      abon_id
0                  NaN     0.000000     0.0    1545052.0
1                  NaN     0.000000     0.0    1545235.0
2                  NaN     0.000000     0.0    1549358.0
3                  NaN     0.000000     0.0    1549591.0
4                  NaN          NaN     0.0    1558772.0
...                ...          ...     ...          ...
149995             NaN    20.139695     0.0  130753784.0
149996             NaN     0.000000     0.0  130753819.0
149997             NaN     0.000000     0.0  130754333.0
149998             NaN     0.000000     0.0  130754629.0
149999             NaN     0.000000     0.0  130754935.0

[150000 rows x 817 columns],                  bnum  call_cnt_out  call_cnt_in  call_dur_out  call_dur_in  \
0         b'dsns ukr'           0.0          0.0           0.0          0.0
1       b'polgazzbut'           0.0          0.0           0.0          0.0
2       b'cyberpolic'           0.0          0.0           0.0          0.0
3         b'dsns ukr'           0.0          0.0           0.0          0.0
4         b'e-health'           0.0          0.0           0.0          0.0
...               ...           ...          ...           ...          ...
671243    b'whatsapp'           0.0          0.0           0.0          0.0
671244       b'apple'           0.0          0.0           0.0          0.0
671245         b'icu'           0.0          0.0           0.0          0.0
671246  b'novaposhta'           0.0          0.0           0.0          0.0
671247    b'sweet.tv'           0.0          0.0           0.0          0.0

        cnt_sms_out  cnt_sms_in      abon_id
0               0.0    3.590290    1545052.0
1               0.0    4.786566    1545052.0
2               0.0    2.921812    1545235.0
3               0.0    3.590290    1545235.0
4               0.0    2.206949    1545235.0
...             ...         ...          ...
671243          0.0    1.480453  130754629.0
671244          0.0    1.480453  130754935.0
671245          0.0    5.324077  130754935.0
671246          0.0    3.590290  130754935.0
671247          0.0    1.480453  130754935.0

[671248 rows x 8 columns],          Application  SUM_of_Duration_sec  SUM_of_Volume_kb  \
0               25.0             3.590290          2.316532
1              175.0             2.921812          1.385115
2              234.0            69.853362         47.339099
3              240.0            81.753973         99.558802
4              254.0           127.299486        198.685702
...              ...                  ...               ...
6745882       1914.0            32.710546         79.048032
6745883       2046.0            45.583444         89.946227
6745884       2536.0            11.100026         39.758680
6745885       2543.0            11.361162         23.259175
6745886       2555.0             3.590290         73.172714

         SUM_of_Count_events  MAX_of_day_cnt      abon_id
0                   4.210402             1.0    1545235.0
1                   5.324077             2.0    1545235.0
2                  24.157118            26.0    1545235.0
3                  43.860399            19.0    1545235.0
4                  70.717838            27.0    1545235.0
...                      ...             ...          ...
6745882            15.823637            10.0  130754935.0
6745883            34.018851            17.0  130754935.0
6745884             4.210402             5.0  130754935.0
6745885             4.786566             2.0  130754935.0
6745886             1.480453             1.0  130754935.0

[6745887 rows x 6 columns]), ({'1': 'TEST_MODEL_FE', '2': 'TEST_MODEL_B_NUM', '3': 'TEST_MODEL_DPI'},         Ama_rchrgmnt_sum_max_mnt1  content_clc_mea_mnt1  content_cnt_max_mnt1  \
0                               0                   0.0             12.103587
1                               0                   0.0              9.354249
2                               0                   0.0             14.038728
3                               0                   0.0              8.333536
4                               0                   0.0             13.435219
...                           ...                   ...                   ...
149995                          0                   0.0             11.862541
149996                          0                   0.0              8.687248
149997                          0                   0.0             11.361162
149998                          0                   0.0              8.333536
149999                          0                   0.0              8.333536

        voice_out_short_part_max_mnt1  voice_mts_in_nrest_part_std_mnt1  \
0                            0.000000                          1.000265
1                            1.001041                          1.000004
2                            1.004760                          1.006973
3                            1.000751                          1.000082
4                            1.000772                          1.015287
...                               ...                               ...
149995                       1.002923                          1.000503
149996                       1.023762                          1.009650
149997                       1.004165                          1.000053
149998                       1.011101                          0.000000
149999                       0.000000                          0.000000

        num_act_days_max_mnt1  sms_roam_clc_min_mnt1  \
0                    5.324077                      0
1                    5.324077                      0
2                    5.324077                      0
3                    5.324077                      0
4                    5.324077                      0
...                       ...                    ...
149995               5.324077                      0
149996               5.324077                      0
149997               5.324077                      0
149998               5.324077                      0
149999               5.324077                      0

        voice_in_cmpttrs_avg_durmin_mnt1  com_num_part_mea_mnt1  \
0                               0.000000               1.002380
1                               0.000000               1.066886
2                              15.532889               1.025664
3                              27.675014               1.003736
4                               9.873995               1.176434
...                                  ...                    ...
149995                          9.669721               1.118939
149996                          0.000000               1.029044
149997                         15.233725               1.215096
149998                          0.000000               1.013873
149999                          0.000000               0.000000

        pay_avg_mea_mnt1  ...  MV_Traf_mn_out_v_Min  MV_DOU_OT  \
0              11.615193  ...                   0.0   1.480453
1              17.899284  ...                   0.0   2.206949
2              18.231132  ...                   0.0   2.206949
3               0.000000  ...                   0.0        NaN
4              11.615193  ...                   0.0   2.206949
...                  ...  ...                   ...        ...
149995          0.000000  ...                   0.0   1.480453
149996          0.000000  ...                   0.0   1.480453
149997         16.459253  ...                   0.0   2.206949
149998          0.000000  ...                   0.0   1.480453
149999          0.000000  ...                   0.0   1.480453

        MV_SERV_Y_WO_AF  MV_Migr_To  MV_SERV_RLH  MV_DOU_PPM_VF  \
0                   NaN         0.0          NaN            NaN
1                   NaN         0.0          NaN      18.165565
2                   NaN         0.0          NaN      13.011325
3                   1.0         0.0          NaN      13.011325
4                   NaN         0.0          NaN      13.011325
...                 ...         ...          ...            ...
149995              NaN         0.0          NaN            NaN
149996              NaN         0.0          NaN            NaN
149997              NaN         0.0          NaN            NaN
149998              NaN         0.0          NaN            NaN
149999              NaN         0.0          NaN            NaN

        MV_DOU_Neg_Bal  MV_ot_total  target      abon_id
0                  NaN     0.000000     0.0    1518212.0
1                  NaN     0.000000     0.0    1535923.0
2                  NaN     0.000000     0.0    1538501.0
3                  NaN          NaN     0.0    1544214.0
4                  NaN     9.681862     0.0    1545752.0
...                ...          ...     ...          ...
149995             NaN     0.000000     1.0  130753142.0
149996             NaN     0.000000     0.0  130753520.0
149997             NaN     0.000000     0.0  130753807.0
149998             NaN     0.000000     0.0  130754180.0
149999             NaN     0.000000     1.0  130754772.0

[150000 rows x 817 columns],                  bnum  call_cnt_out  call_cnt_in  call_dur_out  call_dur_in  \
0       b'privatbank'      0.000000          0.0      0.000000          0.0
1             b'3700'      2.206949          0.0      8.333536          0.0
2        b'avik-2000'      0.000000          0.0      0.000000          0.0
3       b'cyberpolic'      0.000000          0.0      0.000000          0.0
4       b'detsk.tkan'      0.000000          0.0      0.000000          0.0
...               ...           ...          ...           ...          ...
669535     b'samsung'      0.000000          0.0      0.000000          0.0
669536    b'telegram'      0.000000          0.0      0.000000          0.0
669537    b'whatsapp'      0.000000          0.0      0.000000          0.0
669538        b'1020'      0.000000          0.0      0.000000          0.0
669539   b'happyland'      0.000000          0.0      0.000000          0.0

        cnt_sms_out  cnt_sms_in      abon_id
0               0.0    1.480453    1535923.0
1               0.0    0.000000    1538501.0
2               0.0    5.324077    1538501.0
3               0.0    2.921812    1538501.0
4               0.0    4.786566    1538501.0
...             ...         ...          ...
669535          0.0    1.480453  130753142.0
669536          0.0    1.480453  130753142.0
669537          0.0    1.480453  130753142.0
669538          0.0    4.210402  130753520.0
669539          0.0    2.206949  130754180.0

[669540 rows x 8 columns],          Application  SUM_of_Duration_sec  SUM_of_Volume_kb  \
0               25.0            40.699902         43.706912
1              175.0            62.987547         97.048546
2              234.0            40.158404         29.186112
3              240.0           136.890691        176.592484
4              246.0            97.446219         84.765258
...              ...                  ...               ...
6739206       1871.0            42.048111          1.650403
6739207       2018.0            31.128437         32.413883
6739208       2046.0            70.355049        115.590180
6739209       2568.0            13.841608         57.176568
6739210       2569.0            65.075214         50.882779

         SUM_of_Count_events  MAX_of_day_cnt      abon_id
0                  56.338298             5.0    1538501.0
1                  17.058719             7.0    1538501.0
2                  10.554543            18.0    1538501.0
3                  85.406048            29.0    1538501.0
4                  62.939512            29.0    1538501.0
...                      ...             ...          ...
6739206             4.786566             2.0  130754772.0
6739207            11.100026             9.0  130754772.0
6739208            67.136136            27.0  130754772.0
6739209             8.687248             1.0  130754772.0
6739210            26.946291            21.0  130754772.0

[6739211 rows x 6 columns]))

In [8]:
deserialized_object[1][1]

,Ama_rchrgmnt_sum_max_mnt1,content_clc_mea_mnt1,content_cnt_max_mnt1,voice_out_short_part_max_mnt1,voice_mts_in_nrest_part_std_mnt1,num_act_days_max_mnt1,sms_roam_clc_min_mnt1,voice_in_cmpttrs_avg_durmin_mnt1,com_num_part_mea_mnt1,pay_avg_mea_mnt1,...,MV_Traf_mn_out_v_Min,MV_DOU_OT,MV_SERV_Y_WO_AF,MV_Migr_To,MV_SERV_RLH,MV_DOU_PPM_VF,MV_DOU_Neg_Bal,MV_ot_total,target,abon_id
0,0,0.0,13.841608,1.480453,0.000000,5.324077,0,19.049712,1.657608,0.000000,...,0.0,1.480453,NaN,0.0,NaN,13.011325,NaN,0.000000,0.0,1545052.0
1,0,0.0,11.361162,1.000313,1.000007,5.324077,0,0.000000,1.001037,15.014574,...,0.0,1.480453,NaN,0.0,NaN,18.165565,NaN,0.000000,0.0,1545235.0
2,0,0.0,10.269117,0.000000,0.000000,5.324077,0,0.000000,1.015666,11.615193,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,1549358.0
3,0,0.0,9.974412,1.033241,1.000128,5.324077,0,0.000000,1.002645,11.615193,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,1549591.0
4,0,0.0,6.749902,1.000641,1.000548,5.324077,0,28.858494,1.048314,0.000000,...,0.0,NaN,1.0,0.0,NaN,13.011325,NaN,NaN,0.0,1558772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.0,8.333536,1.010017,1.001535,5.324077,0,0.000000,1.335142,14.327306,...,0.0,2.206949,NaN,0.0,NaN,NaN,NaN,20.139695,0.0,130753784.0
149996,0,0.0,14.038728,1.006078,1.066591,5.324077,0,0.000000,1.208153,12.792268,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,130753819.0
149997,0,0.0,13.225565,1.000865,1.000887,5.324077,0,0.000000,1.037025,2.206949,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,130754333.0
149998,0,0.0,19.524976,1.001231,0.000000,5.324077,0,15.464618,1.276047,9.110034,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,130754629.0
149999,0,0.0,13.640500,1.001424,1.000022,5.324077,0,11.489038,1.112278,13.841608,...,0.0,1.480453,NaN,0.0,NaN,NaN,NaN,0.000000,0.0,130754935.0

In [11]:
deserialized_object[2][3]

,Application,SUM_of_Duration_sec,SUM_of_Volume_kb,SUM_of_Count_events,MAX_of_day_cnt,abon_id
0,25.0,40.699902,43.706912,56.338298,5.0,1538501.0
1,175.0,62.987547,97.048546,17.058719,7.0,1538501.0
2,234.0,40.158404,29.186112,10.554543,18.0,1538501.0
3,240.0,136.890691,176.592484,85.406048,29.0,1538501.0
4,246.0,97.446219,84.765258,62.939512,29.0,1538501.0
...,...,...,...,...,...,...
6739206,1871.0,42.048111,1.650403,4.786566,2.0,130754772.0
6739207,2018.0,31.128437,32.413883,11.100026,9.0,130754772.0
6739208,2046.0,70.355049,115.590180,67.136136,27.0,130754772.0
6739209,2568.0,13.841608,57.176568,8.687248,1.0,130754772.0
6739210,2569.0,65.075214,50.882779,26.946291,21.0,130754772.0